@model bansach.Models.TheLoai

@{
    ViewBag.Title = "XoaTheLoai";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h3>Bạn có muốn xóa không?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên thể loại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTheLoai)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>
