
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Đơn hàng của bạn đã được xác nhận.</h2>
<p>@Html.ActionLink("Về trang chủ", "Index", "BookStore")</p>

