
@{
    ViewBag.Title = "SearchProduct";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="row">
    <h2 class="title" style="border-radius: 40px;text-align:center">Kết quả tìm kiếm</h2>
    @foreach (var sach in Model)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <a href="@Url.Action("ChiTiet", "BookStore", new { id = sach.MaSach })" />
                <img alt="@sach.TenSach" src="~/HinhSanPham/@sach.BiaSach" width="100" />
                <div>
                    <h4 style="text-align:center">@sach.TenSach</h4>
                    <p></p>
                </div>
                <div class="ratings">
                    <p class="pull-right">@sach.GiaBan VND</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                </div>
            </div>
        </div>
    }
</div>
